.slide {
    display: block;
    padding: 1.5rem;
    width: 400px;
    height: 430px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgb(107, 107, 107, 30%);
    border-bottom: 12px solid #1450d2;

    img {
        width: 100%;
        height: auto;
        clip-path: polygon(32% 0, 100% 0, 100% 68%, 68% 100%, 0 100%, 0 32%);
    }
    h4 {
        font-size: 1.8rem;
        line-height: 1.8rem;
        text-align: left;
        margin-top: 1rem;
    }
    @media screen and (max-width: 480px) {
        width: 300px;
        height: 380px;
    }
}

.slider-container {
    margin: 2rem 0;
}