.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 448px;
    background-image: url("./../../../public/assets/img/contact_bg.png");
    background-color: #1450d2;
    color: #fff;

    -moz-box-shadow:    inset 0 10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 10px 10px -10px #000000;
    box-shadow:         inset 0 10px 10px -10px #000000;
    
    p {
        max-width: 1024px;
        text-align: center;
    }
    button {
        padding: 0.5rem 1rem;
        background: none;
        color: #fff;
        border: 1px solid #fff;
        margin-top: 1rem;
    }
}